@page
@model IndexModel

@{
    //Layout = "Shared/_AdminLayout";
    ViewData["Title"] = "فاکتور کالا";
}

<div class="container btn-group">
    <div class="col-10">
        <h4 class="page-title pull-right">@ViewData["title"]</h4>
    </div>
    <div class="pull-left col-2 btn-group justify-content-end p-3">
        <a asp-page="./Create" class="btn btn-success btn-sm">ایجاد فاکتور جدید</a>
    </div>
</div>

<table id="datatable" class="table table-bordered">
    <thead>
        <tr>
            <th>شماره فاکتور</th>
            <th></th>
            <th>عنوان</th>
            <th>تاریخ</th>
            <th>توضیحات</th>
            <th>مبلغ کل</th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var invoice in Model.Invoices)
        {

            <tr>
                <td></td>
                <td>
                    <img src="~/Images/@invoice.PhotoUrl" alt="" class="avatar" />
                </td>
                <td>@invoice.Name</td>
                <td>@invoice.CreationDate</td>
                <td>@invoice.Description</td>
                <td>@invoice.Total</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@invoice.Id"
                       class="btn btn-sm btn-info">
                        <i class="fa fa-edit"></i> ویرایش
                    </a>
                    |
                    <a asp-page="./Details" asp-page-handler="Details" asp-route-id="@invoice.Id"
                       class="btn btn-sm btn-primary ml-1">جزئیات</a>
                    |
                    <a href="#showmodal=@Url.Page("./Index", "Delete", new { id = invoice.Id })"
                       class="btn btn-sm btn-danger ml-1">
                        <i class="fa fa-remove"></i> حذف
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#datatable').dataTable();
        });
    </script>
}


