@page
@model EditModel
@{
    ViewData["Title"] = "Edit Invoice";
}

<div class="container py-4">
    <div class="card shadow-sm">
        <div class="card-header bg-success text-white">
            <h3 class="card-title">Update Invoice</h3>
        </div>
        <form enctype="multipart/form-data" method="post">

            <input type="hidden" asp-for="Invoice.Id" />
            <input type="hidden" asp-for="Invoice.PhotoUrl" />

            <div class="row g-3 p-4">
                <div class="col-lg-8">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row g-3">
                        <div class="col-md-6">
                            <label asp-for="Invoice.Name" class="control-label">Name</label>
                            <input asp-for="Invoice.Name" type="text" class="form-control">
                            <span asp-validation-for="Invoice.Name" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="Invoice.CreationDate" class="control-label">Creation date</label>
                            <input asp-for="Invoice.CreationDate" class="form-control persianDateInput">
                            <span asp-validation-for="Invoice.CreationDate" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="Invoice.Total" class="control-label">Total price</label>
                            <input id="Invoice.Total" asp-for="Invoice.Total" class="form-control-plaintext" readonly />
                        </div>
                        <div class="col-md-6">
                            <label asp-for="Invoice.Description" class="control-label">Description </label>
                            <textarea asp-for="Invoice.Description" class="form-control autogrow"
                                      style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 50px;"></textarea>
                            <span asp-validation-for="Invoice.Description" class="text-danger"></span>
                        </div>

                        <div class="col-md-12">
                            <label asp-for="Invoice.Photo" class="form-label">Upload Image</label>
                            <input asp-for="Invoice.Photo" class="form-control" type="file" id="customFile"
                                   onchange="document.getElementById('PreviewPhoto').src = window.URL.createObjectURL(this.files[0])">
                            <span asp-validation-for="Invoice.Photo" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 text-center">
                    <img id="PreviewPhoto" src="~/img/no-image.png" alt="Preview Image"
                         class="img-thumbnail mt-3" style="max-width: 200px; height: auto;">
                </div>

            </div>

            <div class="table-responsive px-4 pb-3">
                <table id="ExpTable" class="table table-bordered table-sm align-middle">
                    <thead class="table-light">
                        <tr>
                            <th>Product name</th>
                            <th>Unit</th>
                            <th>Price</th>
                            <th>Count</th>
                            <th style="width:75px;">
                                <button id='btnaddExperience' type="button"
                                        class="btn btn-sm btn-outline-success visible"
                                        onclick="AddItem(this)">
                                    Add
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Invoice.Items.Count; i++)
                        {
                            <tr>
                                <td>
                                    <select class="form-control" asp-for="@Model.Invoice.Items[i].ProductId" asp-items="@Model.Products">
                                        <option value="">Product name</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-control" asp-for="@Model.Invoice.Items[i].UnitId" asp-items="@Model.Units">
                                        <option value="0">Unit name </option>
                                    </select>
                                </td>
                                <td>
                                    <input type="hidden" asp-for="@Model.Invoice.Items[i].IsDeleted" />
                                    <input asp-for="@Model.Invoice.Items[i].Price" class="form-control ItemPrice" />
                                    <span asp-validation-for="@Model.Invoice.Items[i].Price" class="text-danger"></span>
                                </td>
                                <td>
                                    <input type="hidden" asp-for="@Model.Invoice.Items[i].IsDeleted" />
                                    <input asp-for="@Model.Invoice.Items[i].Count" class="form-control ItemCount" />
                                    <span asp-validation-for="@Model.Invoice.Items[i].Count" class="text-danger"></span>

                                </td>
                                <td>
                                    <button id='btnremove-@i' type="button"
                                            class="btn btn-sm btn-danger visible"
                                            onclick="DeleteItem(this)">
                                        x
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <input type="hidden" id="hdnLastIndex" value="0" />

            <div class="d-flex justify-content-between px-4 pb-4">
                <a asp-page="./Index" class="btn btn-secondary">Back</a>
                <input type="submit" value="Update" class="btn btn-primary">
            </div>

        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}