@page
@model EndPoint.Site.Pages.Factors.IndexModel

@{
    ViewData["Title"] = "فاکتور کالا";
}


<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title pull-right">@ViewData["title"]</h4>
        <p class="pull-left">
            <a class="btn btn-success btn-lg" asp-page="./Create">ایجاد فاکتور جدید</a>
        </p>
    </div>
</div>


<table class="table table-bordered table-striped">
    <tbody>
        @foreach (var factor in Model.Factors)
        {
            <tr>
                <th>#</th>
                <th>عنوان</th>
                <th>تاریخ</th>
                <th>توضیحات</th>
            </tr>
            <tr>
                <td>@factor.Id</td>
                <td>@factor.Name</td>
                <td>@factor.CreationDate</td>
                <td>@factor.Description</td>
            </tr>

@*            @foreach (var item in factor.Items)
            {
                <tr>
                    <th>#</th>
                    <th>نام کالا</th>
                    <th>واحد</th>
                    <th>قیمت</th>
                    <th>تعداد</th>
                    <th>جمع</th>
                </tr>
                <tr>
                    <td>@item.Id</td>
                    <td>@item.ProductName</td>
                    <td>@item.UnitName</td>
                    <td>@item.Price</td>
                    <td>@item.Count</td>
                    <td>@item.Sum</td>
                </tr>
            }*@
            <tr>
                <th>مبلغ کل</th>
                <th>عملیات</th>
            </tr>
            <tr>
                <td>@factor.Total</td>
                <td>
                    <a class="btn btn-warning pull-right m-rl-5" 
                    asp-page="./Edit" asp-route-id ="@factor.Id">
                        <i class="fa fa-edit"></i> ویرایش
                    </a>
                    |
                    <a asp-page="./Details" asp-page-handler="OnGetDetails" asp-route-id="@factor.Id"
                   class="btn btn-info btn-custom waves-effect waves-light m-b-5">جزئیات</a>
                    |
                    <a asp-page="./Index" asp-page-handler="Remove" asp-route-id="@factor.Id"
                   class="btn btn-danger btn-custom waves-effect waves-light m-b-5">حذف</a>
                </td>
            </tr>
        }
    </tbody>
</table>


